.create-select-pond-btn {
  border: none;
  padding: 10px 25px;
  border-radius: 10px;
  background-color: #1A91EB;
  margin: 10px;
  font-size: 1em;
  color: #FFF;
}

.home-title {
  font-size: 1.4em;
  font-weight: bold;
  margin: 20px;
}

.home-img {
  max-width: 600px;
}
